<header id="header">
	<div class="header-body">
		<div class="header-container container">
			<div class="header-row">
				<div class="header-column">
					<div class="header-logo">
						<a href="index.html">
							<img alt="HoldingRgroup" width="111" height="40" data-sticky-width="52" data-sticky-height="20" data-sticky-top="33" src="assets/img/logo.svg">
						</a>
					</div>
				</div>
				<div class="header-column">
					<div class="header-row">
						<div class="header-nav">
							<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
								<i class="fa fa-bars"></i>
							</button>
							<ul class="header-social-icons social-icons hidden-xs">
								<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
								<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							</ul>
							<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
								<nav>
									<ul class="nav nav-pills" id="mainNav">
										<li routerLinkActive="active">
											<a routerLink="home">
												Inicio
											</a>
										</li>
										<li routerLinkActive="active">
											<a routerLink="nosotros">
												Nosotros
											</a>
										</li>
										<li routerLinkActive="active">
											<a routerLink="galeria">
												Galeria
											</a>											
										</li>
										<li routerLinkActive="active">
											<a routerLink="servicios">
												Servicios
											</a>
										</li>
										<li routerLinkActive="active">
											<a routerLink="contacto">
												Contactanos
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>