<section class="section section-default section-with-mockup mb-none" style="margin-top: 0;">

	<div class="row">
		<div class="col-md-12 center">
			<h2 class="word-rotator-title mb-sm">H&R es <strong>mas <span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
				<span class="word-rotate-items">
					<span>rapido</span>
					<span>increible</span>
				</span>
			</span></strong> y nuestros trabajos son de los mejores.</h2>
			<p class="lead">A lo largo de los años tenemos unos 20,000 hogares<br> abastecidos de gas.</p>
		</div>
	</div>

	<div class="row mt-xl">
		<div class="counters counters-text-dark">
			<div class="col-md-3 col-sm-6">
				<div class="counter" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
					<i class="fa fa-user"></i>
					<strong data-to="19000" data-append="+">19000</strong>
					<label>Clientes Felices</label>
					<p class="text-color-primary mb-xl">Agradecidos</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="counter" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
					<i class="fa fa-desktop"></i>
					<strong data-to="3">3</strong>
					<label>Paises</label>
					<p class="text-color-primary mb-xl">Abastecidos</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="counter" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
					<i class="fa fa-ticket"></i>
					<strong data-to="2500" data-append="+">2500</strong>
					<label>KM</label>
					<p class="text-color-primary mb-xl">Recorridos</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="counter" data-appear-animation="fadeInUp" data-appear-animation-delay="1200">
					<i class="fa fa-clock-o"></i>
					<strong data-to="3000" data-append="+">3000</strong>
					<label>Horas</label>
					<p class="text-color-primary mb-xl">Trabajadas</p>
				</div>
			</div>
		</div>
	</div>

</section>