<div role="main" class="main animated fadeIn">

	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Nosotros</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-8">
				<div class="col-md-12">
					<h3 class="heading-primary"><strong>Quienes</strong> somos?</h3>
					<p>{{ _nos.nosotros[0].descripcion }}.</p>
				</div>
				<div class="row">
					<div class="col-md-12">
						<hr class="tall">
					</div>
				</div>
				<div class="col-md-12">
					<h3 class="heading-primary"><strong></strong> Vision</h3>
					<p>Ser la organización líder en Latinoamérica al 2020, en innovación y creación de nuevos conceptos de producción en obras, bienes y servicios, reconocida por su calidad de vida, profesionalismo y compromiso social de todos sus colaboradores.</p>
				</div>
				<div class="row">
					<div class="col-md-12">
						<hr class="tall">
					</div>
				</div>	
				<div class="col-md-12">
					<h3 class="heading-primary"><strong></strong> Mision</h3>
					<p>Somos un compromiso integral de soluciones técnicas especializadas en la generación de productos, bienes y servicios de alta calidad, seguridad e innovación en el mercado, con un desarrollo individual y colectivo de mejora continua y afianzamiento de nuestra imagen corporativa con orientación al desarrollo social y ambiental..</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="featured-box featured-box-primary">
					<div class="box-content">
						<h4 class="text-uppercase">Escenas trabajos</h4>
						<ul class="thumbnail-gallery" data-plugin-lightbox data-plugin-options='{"delegate": "a", "type": "image", "gallery": {"enabled": true}}'>
							<li>
								<a title="Benefits 1" href="assets/img/perus.jpg">
									<span class="thumbnail mb-none">
										<img src="assets/img/perus.jpg" alt="">
									</span>
								</a>
							</li>
							<li>
								<a title="Benefits 2" href="assets/img/argentinas.jpg">
									<span class="thumbnail mb-none">
										<img src="assets/img/argentinas.jpg" alt="">
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<hr class="tall">
			</div>
		</div>
	</div>
</div>