<div role="main" class="main animated fadeIn">

	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Nosotros</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-8">
				<h3 class="heading-primary"><strong>Quienes</strong> somos ?</h3>
				<p>{{ _nos.nosotros[0].descripcion }}.</p>
			</div>
			<div class="col-md-4">
				<div class="featured-box featured-box-primary">
					<div class="box-content">
						<h4 class="text-uppercase">Escenas trabajos</h4>
						<ul class="thumbnail-gallery" data-plugin-lightbox data-plugin-options='{"delegate": "a", "type": "image", "gallery": {"enabled": true}}'>
							<li>
								<a title="Benefits 1" href="assets/img/benefits/benefits-1.jpg">
									<span class="thumbnail mb-none">
										<img src="assets/img/benefits/benefits-1-thumb.jpg" alt="">
									</span>
								</a>
							</li>
							<li>
								<a title="Benefits 2" href="assets/img/benefits/benefits-2.jpg">
									<span class="thumbnail mb-none">
										<img src="assets/img/benefits/benefits-2-thumb.jpg" alt="">
									</span>
								</a>
							</li>
							<li>
								<a title="Benefits 3" href="assets/img/benefits/benefits-3.jpg">
									<span class="thumbnail mb-none">
										<img src="assets/img/benefits/benefits-3-thumb.jpg" alt="">
									</span>
								</a>
							</li>
							<li>
								<a title="Benefits 4" href="assets/img/benefits/benefits-4.jpg">
									<span class="thumbnail mb-none">
										<img src="assets/img/benefits/benefits-4-thumb.jpg" alt="">
									</span>
								</a>
							</li>
							<li>
								<a title="Benefits 5" href="assets/img/benefits/benefits-5.jpg">
									<span class="thumbnail mb-none">
										<img src="assets/img/benefits/benefits-5-thumb.jpg" alt="">
									</span>
								</a>
							</li>
							<li>
								<a title="Benefits 6" href="assets/img/benefits/benefits-6.jpg">
									<span class="thumbnail mb-none">
										<img src="assets/img/benefits/benefits-6-thumb.jpg" alt="">
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<hr class="tall">
			</div>
		</div>
	</div>
</div>