<section class="section section-tertiary pb-none mb-none">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h2 class="text-light"><strong>Acerca de</strong> Nosotros</h2>
				<p class="text-light">{{ nosotros }}</p>

				<blockquote class="ml-lg blockquote-secondary">
					<p>En Gasecorm apostamos por el desarrollo y el cuidado del ambiente con calidad de vida.</p>
				</blockquote>
				<a routerLink="/nosotros" class="btn btn-secondary mt-lg mb-sm" style="color: #fff;">LEER MAS</a>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<img class="img-responsive" src="assets/img/empresa.jpg" alt="" data-appear-animation="fadeInUp">
			</div>
		</div>
	</div>
</section>