<section class="section section-tertiary pb-none mb-none">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h2 class="text-light"><strong>Acerca de</strong> Nosotros</h2>
				<p class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc  lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. </p>

				<blockquote class="ml-lg blockquote-secondary">
					<p>Pellentesque pellentesque eget tempor tellus. Fusce lacllentesque eget tempor tellus ellentesque pelleinia tempor malesuada.</p>
				</blockquote>
				<a class="btn btn-secondary mt-lg mb-sm" style="color: #fff;">LEER MAS</a>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<img class="img-responsive" src="assets/img/empresa.jpg" alt="" data-appear-animation="fadeInUp">
			</div>
		</div>
	</div>
</section>