<div class="container">
	<div class="row" style="margin-top: 40px;">
		<div class="col-md-4">
			<div class="owl-theme">
				<div>
					<span class="img-thumbnail">
						<img alt="" height="300" class="img-responsive" [src]="profileUrl | async">
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-8">

			<h2 class="mb-none">{{nombre}}</h2>
			<h4 class="heading-primary">Empleado del Mes</h4>

			<hr class="solid">

			<p>{{descripcion}}</p>

			<ul class="list list-icons">
				<li><i class="fa fa-check"></i> {{actitudes}}</li>
				<li><i class="fa fa-check"></i> {{desempeno}}</li>
				<li><i class="fa fa-check"></i> {{cumplimiento}}</li>
			</ul>

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div class="col-md-12">
		<div class="mt-lg mb-xl">
			<a routerLink="/empleadosmes" data-hash class="btn btn-primary" style="float: right; margin-right: 20px;" data-appear-animation-delay="100">VER MAS</a>
		</div>
	</div>
</div>
