<div class="container animated fadeIn" *ngFor="let empleado of empleados">
	<div class="row" style="margin-top: 120px;">
		<div class="col-md-4">
			<div class="owl-theme">
				<div>
					<span class="img-thumbnail">
						<img alt="" height="300" class="img-responsive" [src]="imagenes(actualizarContador()) | async">
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-8">

			<h2 class="mb-none">{{empleado.nombre}}</h2>
			<h4 class="heading-primary">Empleado del - {{empleado.fecha}}</h4>

			<hr class="solid">

			<p>{{empleado.descripcion}}</p>

			<ul class="list list-icons">
				<li><i class="fa fa-check"></i> {{empleado.actitudes}}</li>
				<li><i class="fa fa-check"></i> {{empleado.desempeno}}</li>
				<li><i class="fa fa-check"></i> {{empleado.cumplimiento}}</li>
			</ul>

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
</div> 
