<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Timeline</h1>
			</div>
		</div>
	</div>
</section>
<div class="container animated fadeIn">

	<div class="row">
		<div class="col-md-12">
			<div class="blog-posts">

				<section class="timeline">
					<div class="timeline-body">
						<div class="timeline-date">
							<h3 class="heading-primary">Nuestras Noticias</h3>
						</div>
						<article class="timeline-box post post-medium" [ngClass]="{'left': estadoLado, 'right': !estadoLado}" *ngFor="let noticia of noticias">
							{{ cambiarclase() }}
							<div class="row">

								<div class="col-md-12">
									<div class="post-image">
										<div class="owl-theme" >
											<div>
												<div class="img-thumbnail">
													
													<img class="img-responsive" [src]="imagenes(actualizarContador()) | async">
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">

									<div class="post-content">
										<h4 class="heading-primary"><a href="blog-post.html">{{noticia.titulo}}</a></h4>
										<p>{{ noticia.descripcion}} </p>
									</div>

								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="post-meta">
										<span><i class="fa fa-calendar"></i> {{noticia.fecha}} </span><br>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="post-meta">
										<span><i class="fa fa-user"></i> By <a >Oscar Salcedo</a> </span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<a routerLink="/noticia/{{noticia.tiempo}}" class="btn btn-xs btn-primary pull-right">Leer Mas</a>
								</div>
							</div>
						</article>					
					

						<!--<div class="timeline-date">
							<h3 class="heading-primary">September 2013</h3>
						</div>-->
						

						<!--<div class="timeline-date">
							<h3 class="heading-primary"><a href="#">Cargar Mas</a></h3>
						</div>-->

					</div>

				</section>

			</div>
		</div>

	</div>

</div>