<div class="container animated fadeIn">

	<div class="row">
		<div class="col-md-12">

			<div class="row" style="margin-top: 100px;">
				<div class="col-md-9">
					<h2 class="mb-none">Administracion</h2>
					<p>Tablas de administracion de contenidos.</p>
					<hr class="tall">
				</div>
				<div class="col-md-3">
					<div class="mt-lg mb-xl">
						<a (click)="logout()" data-hash class="btn btn-3d btn-secondary" style="float: right; margin-right: 20px;" data-appear-animation-delay="100">CERRAR SESSION</a>
					</div>
				</div>

				
			</div>

			<div class="row">
				<div class="col-md-12">

					<div class="col-md-9"><h4><strong>Noticias</strong></h4></div>
					<div class="col-md-3">
						<button (click)="abrirModal()" type="button" class="btn btn-3d btn-primary mr-xs mb-sm">Agregar</button>
					</div>
					

					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									Titulo
								</th>
								<th>
									Descripcion
								</th>
								<th>
									Fecha
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									1
								</td>
								<td>
									Mark
								</td>
								<td>
									Otto
								</td>
								<td>
									@mdo
								</td>
							</tr>
							<tr>
								<td>
									2
								</td>
								<td>
									Jacob
								</td>
								<td>
									Thornton
								</td>
								<td>
									@fat
								</td>
							</tr>
							<tr>
								<td>
									3
								</td>
								<td>
									Larry
								</td>
								<td>
									the Bird
								</td>
								<td>
									@twitter
								</td>
							</tr>
						</tbody>
					</table>

					<hr class="tall">
				</div>
			</div>

		</div>


	</div>

</div>
