<div class="container animated fadeIn">

	<div class="row">
		<div class="col-md-12">

			<div class="row" style="margin-top: 100px;">
				<div class="col-md-9">
					<h2 class="mb-none">Administracion</h2>
					<p>Tablas de administracion de contenidos.</p>
					<hr class="tall">
				</div>
				<div class="col-md-3">
					<div class="mt-lg mb-xl">
						<a (click)="logout()" data-hash class="btn btn-3d btn-secondary" style="color:#fff; float: right; margin-right: 20px;" >CERRAR SESSION</a>
					</div>
				</div>

				
			</div>

			<div class="row">
				<div class="col-md-12">

					<ngb-tabset type="pills">
						<ngb-tab title="Noticias">
							<ng-template ngbTabContent>
								<div class="col-md-9"><h4><strong>Noticias</strong></h4></div>
								<div class="col-md-3">
									<button (click)="abrirModal(noticias, '1', '1')" type="button" class="btn btn-3d btn-primary mr-xs mb-sm">Agregar</button>
								</div>


								<table class="table table-striped">
									<thead>
										<tr>
											<th>
												#
											</th>
											<th>
												Titulo
											</th>
											<th>
												Descripcion
											</th>
											<th>
												Fecha
											</th>
											<th>
												Imagen
											</th>
											<th>
												Operaciones
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let noticia of _ns.noticias">
											<td width="5%">
												{{noticia.tiempo}}
											</td>
											<td width="20%">
												{{noticia.titulo}}
											</td>
											<td width="35%">
												{{noticia.descripcion}}
											</td>
											<td width="10%">
												{{noticia.fecha}}
											</td>
											<td width="10%">
												<button (click)="verImagen(noticia.nombreImg, imagene)" type="button" class="btn btn-3d btn-primary mr-xs mb-sm btn-xs">Ver Imagen</button>
											</td>
											<td width="20%">
												<button (click)="abrirModal(noticias, '1', '2', noticia)" type="button" class="btn btn-3d btn-primary mr-xs mb-sm btn-xs">Editar</button>
												<button (click)="eliminarNoticia(noticia.tiempo)" type="button" class="btn btn-3d btn-secondary mr-xs mb-sm btn-xs">Eliminar</button>
											</td>
										</tr>
									</tbody>
								</table>
							</ng-template>
						</ngb-tab>
						<ngb-tab>
							<ng-template ngbTabTitle><b>Empleado del</b> Mes</ng-template>
							<ng-template ngbTabContent>
								<div class="col-md-9"><h4><strong>Empleado</strong> del Mes</h4></div>
								<div class="col-md-3">
									<button (click)="abrirModal(empleadomes, '3', '1')" type="button" class="btn btn-3d btn-primary mr-xs mb-sm">Agregar</button>
								</div>


								<table class="table table-striped">
									<thead>
										<tr>
											<th>
												#
											</th>
											<th>
												Nombre
											</th>
											<th>
												Descripcion
											</th>
											<th>
												Fecha
											</th>
											<th>
												Imagen
											</th>
											<th>
												Operaciones
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let empleado of _es.empleados">
											<td>
												{{empleado.tiempo}}
											</td>
											<td>
												{{empleado.nombre}}
											</td>
											<td>
												{{empleado.descripcion}}
											</td>
											<td>
												{{empleado.fecha}}
											</td>
											<td width="10%">
												<button (click)="verImagen(empleado.nombreImg, imagene)" type="button" class="btn btn-3d btn-primary mr-xs mb-sm btn-xs">Ver Imagen</button>
											</td>
											<td width="20%">
												<button (click)="abrirModal(empleadomes, '3', '2', empleado)" type="button" class="btn btn-3d btn-primary mr-xs mb-sm btn-xs">Editar</button>
												<button (click)="eliminarEmpleado(empleado.tiempo)" type="button" class="btn btn-3d btn-secondary mr-xs mb-sm btn-xs">Eliminar</button>
											</td>
										</tr>
									</tbody>
								</table>
							</ng-template>
						</ngb-tab>
						<ngb-tab>
							<ng-template ngbTabTitle><b>Sobre</b> Nosotros</ng-template>
							<ng-template ngbTabContent>
								<div class="col-md-9"><h4><strong>Sobre</strong> Nosotros</h4></div>
								<div class="col-md-3">
									<button (click)="abrirModal(sobrenosotros, '2', '1', _nos.nosotros[0])" type="button" class="btn btn-3d btn-primary mr-xs mb-sm">Editar</button>
								</div>


								<table class="table table-striped">
									<thead>
										<tr>
											<th>
												#
											</th>
											<th>
												Descripcion
											</th>
											<th>
												Fecha Actualizacion
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												{{ _nos.nosotros[0].tiempo }}
											</td>
											<td>
												{{ _nos.nosotros[0].descripcion }}
											</td>
											<td>
												{{ _nos.nosotros[0].fecha }}
											</td>
										</tr>
									</tbody>
								</table>
							</ng-template>
						</ngb-tab>
						<ngb-tab>
							<ng-template ngbTabTitle><b>Servicios</b></ng-template>
							<ng-template ngbTabContent>
								<div class="col-md-9"><h4><strong>Noticias</strong></h4></div>
								<div class="col-md-3">
									<button (click)="open(servicios)" type="button" class="btn btn-3d btn-primary mr-xs mb-sm">Agregar</button>
								</div>


								<table class="table table-striped">
									<thead>
										<tr>
											<th>
												#
											</th>
											<th>
												Titulo
											</th>
											<th>
												Descripcion
											</th>
											<th>
												Fecha Actualizacion
											</th>
											<th>
												Operaciones
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												1
											</td>
											<td>
												Mark
											</td>
											<td>
												Otto
											</td>
											<td>
												@mdo
											</td>
										</tr>
									</tbody>
								</table>
							</ng-template>
						</ngb-tab>
						<ngb-tab>
							<ng-template ngbTabTitle><b>Usuarios</b></ng-template>
							<ng-template ngbTabContent>
								<div class="col-md-9"><h4><strong>Noticias</strong></h4></div>
								<div class="col-md-3">
									<button (click)="open(usuarios)" type="button" class="btn btn-3d btn-primary mr-xs mb-sm">Agregar</button>
								</div>


								<table class="table table-striped">
									<thead>
										<tr>
											<th>
												#
											</th>
											<th>
												Nombre
											</th>
											<th>
												Correo
											</th>
											<th>
												Fecha Creacion
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												1
											</td>
											<td>
												Mark
											</td>
											<td>
												Otto
											</td>
											<td>
												@mdo
											</td>
										</tr>
									</tbody>
								</table>
							</ng-template>
						</ngb-tab>
					</ngb-tabset>
					
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #noticias let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Agregar Noticia</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" style="padding: 20px;">
		<form (ngSubmit)="guardarNoticia()" id="frmNtc">
			<div class="form-group">
				<label for="formGroupExampleInput"><strong>Titulo</strong></label>
				<input [(ngModel)]="noticia.titulo" required name="titulo" type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingresar titulo">
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1"><strong>Descripcion</strong></label>
				<textarea [(ngModel)]="noticia.descripcion" required name="descripcion" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
			<div class="form-group">
				<label for="exampleFormControlFile1"><strong>Seleccionar una foto</strong></label>
				<input [(ngModel)]="imagen" name="imagen" required type="file" (change)="capturarEvent($event)" class="form-control-file" id="exampleFormControlFile1">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-outline-dark" (click)="c('Close click')">Guardar</button>
	</div>
</ng-template>

<ng-template #imagene let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Detalle de Imagen</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" style="padding: 20px;">
		<div>
			<img style="width: 100%" [src]="profileUrl | async">
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
	</div>
</ng-template>

<ng-template #empleadomes let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Agregar Empleado del Mes</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" style="padding: 20px;">
		<form (ngSubmit)="guardarNoticia()" id="frmNtc">
			<div class="form-group">
				<label for="formGroupExampleInput"><strong>Nombre Empleado</strong></label>
				<input [(ngModel)]="empleados.nombre" name="titulo" type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingresar nombre">
			</div>
			<div class="form-group">
				<label for="formGroupExampleInput"><strong>Fecha</strong></label>
				<input [(ngModel)]="empleados.fecha" name="titulo" type="text" class="form-control" id="formGroupExampleInput" placeholder="--/--/--">
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1"><strong>Descripcion</strong></label>
				<textarea [(ngModel)]="empleados.descripcion" name="descripcion" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
			<div class="form-group">
				<label for="exampleFormControlFile1"><strong>Seleccionar una foto</strong></label>
				<input (change)="capturarEvent($event)" type="file" class="form-control-file" id="exampleFormControlFile1">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-outline-dark" (click)="c('Close click')">Guardar</button>
	</div>
</ng-template>

<ng-template #sobrenosotros let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Editar Sobre Nosotros</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" style="padding: 20px;">
		<form (ngSubmit)="guardarNoticia()" id="frmNtc">
			<div class="form-group">
				<label for="exampleFormControlTextarea1"><strong>Descripcion</strong></label>
				<textarea [(ngModel)]="noticia.descripcion" name="descripcion" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-outline-dark" (click)="c('Close click')">Guardar</button>
	</div>
</ng-template>

<!--<ng-template #servicio let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Agregar Servicios</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" style="padding: 20px;">
		<form (ngSubmit)="guardarNoticia()" id="frmNtc">
			<div class="form-group">
				<label for="formGroupExampleInput"><strong>Titulo</strong></label>
				<input [(ngModel)]="noticia.titulo" name="titulo" type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingresar titulo">
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1"><strong>Descripcion</strong></label>
				<textarea [(ngModel)]="noticia.descripcion" name="descripcion" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
			<div class="form-group">
				<label for="exampleFormControlFile1"><strong>Seleccionar una foto</strong></label>
				<input type="file" class="form-control-file" id="exampleFormControlFile1">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-outline-dark" (click)="c('Close click')">Guardar</button>
	</div>
</ng-template>

<ng-template #usuarios let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Agregar Usuarios</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" style="padding: 20px;">
		<form (ngSubmit)="guardarNoticia()" id="frmNtc">
			<div class="form-group">
				<label for="formGroupExampleInput"><strong>Titulo</strong></label>
				<input [(ngModel)]="noticia.titulo" name="titulo" type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingresar titulo">
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1"><strong>Descripcion</strong></label>
				<textarea [(ngModel)]="noticia.descripcion" name="descripcion" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
			<div class="form-group">
				<label for="exampleFormControlFile1"><strong>Seleccionar una foto</strong></label>
				<input type="file" class="form-control-file" id="exampleFormControlFile1">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-outline-dark" (click)="c('Close click')">Guardar</button>
	</div>
</ng-template>-->