<section class="section section-default section-with-mockup mb-none" style="margin-top: 0;">

	<div class="row">
		<div class="col-md-12">

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="mb-xl">Ultimas <strong>Noticias</strong></h2>
						<hr class="tall">
					</div>

				</div>
			</div>

			<div class="row" style="margin-right: 10px; margin-left: 10px;">
				<div class="col-md-4 " *ngFor="let noticia of noticias">
					<div class="card">
						<div class="recent-posts">
							<article class="post">
								<div class="owl-theme nav-inside mb-sm">
									<div>
										<img alt="" class="img-responsive img-rounded" [src]="imagenes(actualizarContador()) | async">
									</div>
								</div>
								<div class="date">
									<span class="day">15</span>
									<span class="month">Jan</span>
								</div>
								<h4><a href="blog-post.html">{{noticia.titulo}}</a></h4>
								<p>{{noticia.descripcion}} <a routerLink="/noticia/{{noticia.tiempo}}" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
							</article>
						</div>
					</div>
				</div>
			</div>	

			<div class="col-md-12">
				<div class="mt-lg mb-xl">
					<a routerLink="/noticias" data-hash class="btn btn-primary" style="float: right; margin-right: 20px;" data-appear-animation-delay="100">VER MAS</a>
				</div>
			</div>
		</div>

	</div>

</section>